.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 100px;
}
.nav-items > ul{
    display: flex;
    list-style-type: none;
    font-size: 16px;
}
.nav-items > ul >li{
    padding: 10px;
    margin: 10px 5px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    height: 300px;
    width: 180px;
    padding: 5px;
    margin: 5px;
    overflow-wrap: break-word;
    
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.res-logo{
    width: 100%;
    height: 120px;
}
.search{
    padding: 10px;
}